<h1 class="mb-3 pb-3" style="text-align:center;">Url Shortener</h1>

<div class="mb-2 pb-2">
  <img class="d-grid gap-2 col-md-2 mx-auto" src="./shortUrl.png" alt="shortUrl image">
</div>

<div class=" mb-3 row justify-content-center " style="text-align:center;">
  <div class="w-100 col-4 col-md-2 m-2">
    <h2>Success! Please use this link:</h2>
  </div>
  <div class="w-100 "></div>
  <div class="w-100 col-4 col-md-2 m-2" style="display: flex;
  justify-content: center;">
    <input type="text" class="form-control" value="http://localhost:3000/project/{{shortUrl}}" id="myInput"
      style="height:40px; width:500px">
  </div>
  <div class="w-100"></div>
  <div class="w-100 col-4 col-md-2 m-2"><button onclick="myFunction()" type=" button"
      class="btn btn-primary mx-auto btn-lg">Copy
    </button></div>
</div>

<script>
  function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(copyText.value);

    /* Alert the copied text */
    alert("Copied the URL: " + copyText.value);
  }
</script>